<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <p>
      Stock Symbol:
    </p>
    <input id = "sym"> 
    <button id = "loader">
      Load
    </button>
    <div id = "textTool">
      
    </div>
  <div id = "chart">
    </div>
    <div id = "deleteList">
    </div>
    <h4>
      Loaded in Real Time with Web Sockets Based on Requests from Other Users
    </h4>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/dataviz.js">
    </script>

  </body>
</html>
